.App-logo {
  max-width: 600px;
  display: block;
  margin: auto;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}

.Dictionary form {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.Dictionary select {
  border-radius: 4px;
  border: 1px solid #233c50;
  width: 27%;
  padding-left: 7px;
}

.Dictionary-search-input {
  border-radius: 4px;
  border: 1px solid #233c50;
  width: 54%;
  padding-left: 7px;
}

.Dictionary-submit-btn {
  width: 16%;
  border-radius: 4px;
  border: none;
  background: #233c50;
  color: white;
}

.Dictionary-submit-btn:hover {
  background: #233c50c9;
  transition: all 250ms ease-in-out;
}

.Results h2 {
  font-weight: bold;
  color: #272e4f;
  margin-left: 12px;
}

.Meaning {
  background: #ffffff71;
  border-radius: 10px;
  margin-top: 25px;
  padding: 15px;
  box-shadow: 2px 2px 35px #272e4f51;
  color: #272e4f;
}

.Meaning:hover {
  background: #ffd8d024;
  transition: all 350ms ease-in-out;
}

.Meaning h5 {
  color: #ff5e3a;
}

.Meaning .definition {
  margin-left: 10px;
}

.Meaning strong.definition {
  padding-right: 10px;
}

.Meaning .example {
  display: block;
  text-align: center;
  color: #2c365d;
  font-weight: bold;
}
